.player-card {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

.player-icon {
    /* font-size: 2rem; */
    margin-bottom: 0.5rem;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .uploader-wrapper {
    margin-top: 0.5rem;
  }
  